<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: employee, local: true) do |form| %>
      <% if employee.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

          <ul>
          <% employee.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :firstname %>
        <%= form.text_field :firstname, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :lastname %>
        <%= form.text_field :lastname, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :user_roll %>
        <%= form.select 'user_roll', options_for_select(['admin', 'user'], 'user'), { prompt: true }, required: true, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :phone_no %>
        <%= form.text_field :phone_no, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :password %>
        <%= form.text_field :password, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :address %>
        <%= form.text_field :address, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :gender %>
        <%= form.text_field :gender, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :NRC %>
        <%= form.text_field :NRC, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :DateofBirth %>
        <%= form.text_field :DateofBirth, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :Join_Date %>
        <%= form.text_field :Join_Date, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :Terminated_Date %>
        <%= form.text_field :Terminated_Date, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :Position %>
        <%= form.text_field :Position, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :Salary %>
        <%= form.text_field :Salary, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
    <%= link_to 'Back', employees_path %>
  </div>
</div>

