<p id="notice"><%= notice %></p>

<h1>Employees</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>User Roll</th>
        <th>Phone no</th>
        <th>Email</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Nrc</th>
        <th>DOB</th>
        <th>Join date</th>
        <th>Terminated date</th>
        <th>Position</th>
        <th>Salary</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.firstname %></td>
          <td><%= employee.lastname %></td>
          <td><%= employee.user_roll %></td>
          <td><%= employee.phone_no %></td>
          <td><%= employee.email %></td>
          <td><%= employee.address %></td>
          <td><%= employee.gender %></td>
          <td><%= employee.NRC %></td>
          <td><%= employee.DateofBirth %></td>
          <td><%= employee.Join_Date %></td>
          <td><%= employee.Terminated_Date %></td>
          <td><%= employee.Position %></td>
          <td><%= employee.Salary %></td>
          <td><%= link_to 'Show', employee %></td>
          <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
          <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Employee', new_employee_path %>

<br>

<%= will_paginate %>
