<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @employee.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.user_roll %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @employee.phone_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p>

<p>
  <strong>Nrc:</strong>
  <%= @employee.NRC %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @employee.DateofBirth %>
</p>

<p>
  <strong>Join date:</strong>
  <%= @employee.Join_Date %>
</p>

<p>
  <strong>Terminated date:</strong>
  <%= @employee.Terminated_Date %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.Position %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.Salary %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
<br><br>

<h1>Leave Day</h1>

<table class="table table-striped">
  <thead>
    <tr class="danger">
      <th>Employee_id</th>
      <th>Firstname</th>
      <th>Laststname</th>
      <th>Leave type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Reason</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.employee_id %></td>
        <td><%= employee.firstname %></td>
        <td><%= employee.lastname %></td>
        <td><%= employee.leave_type %></td>
        <td><%= employee.start_date %></td>
        <td><%= employee.end_date %></td>
        <td><%= employee.reason %></td>
      </tr>
    <% end %>
  </tbody>
</table>


