<p id="notice"><%= notice %></p>

<h1>Leaveforms</h1>

<table class="table table-striped">
  <thead>
    <tr class="danger">
      <th>Employee_id</th>
      <th>Firstname</th>
      <th>Laststname</th>
      <th>Leave type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Reason</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @leaveforms.each do |leaveform| %>
      <tr>
        <td><%= leaveform.employee_id %></td>
        <td><%= leaveform.firstname %></td>
        <td><%= leaveform.lastname %></td>
        <td><%= leaveform.leave_type %></td>
        <td><%= leaveform.start_date %></td>
        <td><%= leaveform.end_date %></td>
        <td><%= leaveform.reason %></td>
        <td><%= leaveform.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<table class="table table-striped">
  <thead>
    <tr class="success">
      <th>Employee_id</th>
      <th>Firstname</th>
      <th>Laststname</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Attendance date</th>
      <th>Remark</th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.employee_id %></td>
        <td><%= attendance.firstname %></td>
        <td><%= attendance.lastname %></td>
        <td><%= attendance.start_time %></td>
        <td><%= attendance.end_time %></td>
        <td><%= attendance.attendance_date %></td>
        <td><%= attendance.remark %></td>
      </tr>
    <% end %>
  </tbody>
</table>

