<div class="center jumbotron">
  <h1>Employees Management System</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">EMS link</a>
    test layout.
  </h2>

  <%= link_to "Please Log In!", login_path, class: "btn btn-lg btn-primary" %>
</div>
