<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: leaveform, local: true) do |form| %>
        <% if leaveform.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(leaveform.errors.count, "error") %> prohibited this leaveform from being saved:</h2>

            <ul>
            <% leaveform.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :employee_id %>
          <%= form.text_field :employee_id,class: 'form-control' %>
        </div>

        <%= render 'leaveforms/nameform' %>

        <div class="field">
          <%= form.label :leave_type %>
          <%= form.text_field :leave_type,class: 'form-control' %>
        </div>

        <div class="field">
          <%= form.label :start_date %>
          <%= form.text_field :start_date,class: 'datepicker form-control' %>
        </div>

        <div class="field">
          <%= form.label :end_date %>
          <%= form.text_field :end_date, class: 'datepicker form-control' %>
        </div>

        <div class="field">
          <%= form.label :reason %>
          <%= form.text_field :reason,class: 'form-control' %>
        </div>

        <% if current_user.user_roll == 'admin' %>
          <div class="field">
            <%= form.label :Accept, class: "radio-inline" do %>
              <%= form.radio_button :Status , true%>
              <span>Accept</span>
            <% end %>
            
            <%= form.label :Reject, class: "radio-inline" do %>
              <%= form.radio_button :Status , false%>
              <span>Reject</span>
            <% end %>
          </div>
        <% end %>
        
        <div class="actions">
          <%= form.submit %>
        </div>
    <% end %>
    <%= link_to 'Back', leaveforms_path %>
  </div>
</div>



<script>
  $(document).ready(function () {
    $("#leaveform_employee_id").blur(function () {
      var new_leaveform = $("#leaveform_employee_id").val();
      // alert(new_leaveform);
      $.ajax({
        url: "/leaveforms/leavename",
        type: "POST",
        data: {new_leaveform: new_leaveform},
        success: function(result){
          var myJSON = JSON.stringify(result);
          var obj = JSON.parse(myJSON);
          // alert("Your salary " + obj.firstname + obj.lastname);
          $('#leaveform_firstname').text(obj.firstname);
          $('#leaveform_lastname').text(obj.lastname);

        }});
    });

    $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
  });
</script>
