<p id="notice"><%= notice %></p>

<h1>Leaveforms</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee_id</th>
      <th>Firstname</th>
      <th>Laststname</th>
      <th>Leave type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Reason</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @leaveforms.each do |leaveform| %>
      <tr>
        <td><%= leaveform.employee_id %></td>
        <td><%= leaveform.firstname %></td>
        <td><%= leaveform.lastname %></td>
        <td><%= leaveform.leave_type %></td>
        <td><%= leaveform.start_date %></td>
        <td><%= leaveform.end_date %></td>
        <td><%= leaveform.reason %></td>
        <td><%= leaveform.status %></td>
        <% if current_user.user_roll == 'admin' %>
          <td><%= link_to 'Show', leaveform %></td>
          <td><%= link_to 'Edit', edit_leaveform_path(leaveform) %></td>
          <td><%= link_to 'Destroy', leaveform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leaveform', new_leaveform_path %>
