<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @leaveform.employee_id %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @leaveform.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @leaveform.lastname %>
</p>

<p>
  <strong>Leave type:</strong>
  <%= @leaveform.leave_type %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @leaveform.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @leaveform.end_date %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @leaveform.reason %>
</p>

<%= link_to 'Edit', edit_leaveform_path(@leaveform) %> |
<%= link_to 'Back', leaveforms_path %>



