<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: attendance, local: true) do |form| %>
      <% if attendance.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

          <ul>
          <% attendance.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :employee_id %>
        <%= form.text_field :employee_id, class: 'form-control' %>
      </div>

      <%= render 'attendances/nameform' %>

      <div class="field">
        <%= form.label :start_time %>
        <%= form.text_field :start_time, :class => "form-control timepicker"%>
      </div>

      <div class="field">
        <%= form.label :end_time %>
        <%= form.text_field :end_time, :class => "form-control timepicker" %>
      </div>

      <div class="field">
        <%= form.label :attendance_date %>
        <%= form.text_field :attendance_date, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :remark %>
        <%= form.text_field :remark, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
    <%= link_to 'Back', attendances_path %>
  </div>
</div>


<script>
  $(document).ready(function () {
        $("#attendance_employee_id").blur(function () {
          var new_attendance = $("#attendance_employee_id").val();
          $.ajax({
            url: "/attendances/name",
            type: "POST",
            data: {new_attendance: new_attendance},
            success: function(result){
              var myJSON = JSON.stringify(result);
              var obj = JSON.parse(myJSON);
              $('#attendance_firstname').text(obj.firstname);
              $('#attendance_lastname').text(obj.lastname);
            }});
        });

        $('.timepicker').timepicker();
      });
</script>
