<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee_id</th>
      <th>Firstname</th>
      <th>Laststname</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Attendance date</th>
      <th>Remark</th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.employee_id %></td>
        <td><%= attendance.firstname %></td>
        <td><%= attendance.lastname %></td>
        <td><%= attendance.start_time %></td>
        <td><%= attendance.end_time %></td>
        <td><%= attendance.attendance_date %></td>
        <td><%= attendance.remark %></td>
        <% if current_user.user_roll == 'admin' %>
          <td><%= link_to 'Show', attendance %></td>
          <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
          <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.user_roll == 'admin' %>
  <%= link_to 'New Attendance', new_attendance_path %>
<% end %>
