<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @attendances.employee_id %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @attendances.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @attendances.lastname %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @attendances.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @attendances.end_time %>
</p>

<p>
  <strong>Attendance date:</strong>
  <%= @attendances.attendance_date %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @attendances.remark %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
