<header class="navbar navbar-fixed-top" id="nav_color">
  <div class="container">
    <%= link_to "Employee app", root_path,  id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%#= link_to "Home",   home_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Dashboard",   dashboard_path, id:"ul_li" %></li>  
          <% if can? :create, Employee %>    
          <li><%= link_to "Employees", employees_path, id:"ul_li" %></li>
          <% end %>
          <li><%= link_to "Attendance",   attendances_path, id:"ul_li" %></li>
          <li><%= link_to "Leaveform",   leaveforms_path, id:"ul_li" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  id="ul_li">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "LOG IN", login_path, id:"ul_li" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>